@import url("./reset.css");
:root{
    --font-color-1: #FFFFFF;
    --bg-color1: #33A8DB80;
}
body{
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Cabecario */
.banner{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
    height: 37.8rem;
    background: linear-gradient(#000000, #33a9db52, #000000), url('../assets/images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--bg-color1);
}

.banner-content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 31.87rem;
    max-height: 24.56rem;
    text-align: center;
}

.logo{
    width: 15.5rem;
    height: 13.4rem;
}
.banner-content h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    background-clip: text; /* Adicione também para compatibilidade com navegadores que suportam essa versão */
}
.banner-content p{
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--font-color-1);
}
.banner-content button{
    padding: 19px 91px;
    background-color: transparent;
    border: 2px solid #1572B7;
    color: #31A8DD;
    font-size: 1rem;
}
.banner-content button:hover{
    background-color: #33a9db1f ;
}

#course-content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 49.5rem;
    gap: 1.5rem;
    margin: 6.25rem auto;
}
#course-content h2{
    font-size: 2rem;
    text-transform: uppercase;
    color: #33A8DB;
}
#course-content p{
    text-align: center;
    color: var(--font-color-1);
}
.modules-list{
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    color: #FFFFFF;
}
.module{
    background-color: #252525;
    text-align: center;
    padding: 1rem 7.9rem;
    border: 1px solid #33A8DB;
    border-radius: 56px;

}

#transform-world{
    display: flex;
    align-items: center;
    height: 22.7rem;
    background-image: url("../assets/images/woman-code.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    border-top: 1px solid #1572B7;
    border-bottom: 1px solid #1572B7;
}
#transform-world p{
    width: 16rem;
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 3px 2px #33A8DB;
    text-transform: lowercase;
    margin-left: 100px;
}
#professional-challenges{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin: 100px 2px;
}
#professional-challenges h2{
    max-width: 46.625rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
}
#professional-challenges p{
    max-width: 41.1875rem;
    text-align: center;
    font-size: 1rem;
}





footer{
    border-top: 1px solid #1572B7;
}